/* Globals */

body {
  display: none;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font-family: 'Source Sans Pro', sans-serif;
}

h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	margin-top:0px;
}

label {
	font-family: 'Source Sans Pro', sans-serif;
}

a {
	color: #0079CB;
}

.page-header {
  margin-top: 4px;
}

a:link, a:hover, a:active, a:visited{
  text-decoration: none;
}

a:hover, a:active {
	color:#30a7fc;
}

.btn {
	font-family: "Helvetica Neue","Segoe UI",Segoe,Helvetica,Arial,"Lucida Grande",sans-serif;
}

.btn:active:focus, button.btn:focus {
outline: none;
}

.btn-primary:hover {
	background-color: #3F8ED0;
	border-color: #3A7CB5;
}

/* Override Bootstrap's default container. */

/*
@media (min-width: 1200px) {
  .container {
    width: 1070px;
  }
  
}
  */

@media (max-width: 767px) {
	.btn {
		width:100%;
	}
  .search-home .big-labels {
    position: absolute;
    width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
	}
  .search-home .sr-only {
	position: relative;
	width: auto;
	height: auto;
	padding: auto;
	margin: auto;
	overflow: auto;
	clip: auto;
	border: auto;
	}
	.search-home form.form-inline div[class*='col-sm-'] {
	  padding-right: 15px;
  }
	
	ul.latest-jobs {
      text-align:center;
  }
	ul.latest-jobs li a {
      font-size: 1.2em;
			font-family: 'Source Sans Pro', sans-serif;
  }
	ul.latest-jobs li a span.position{
      font-size: 1.1em;
  }
	.blog-sidebar > .sidebar-module {
    text-align:center;
	  margin: 0px 0px 15px;
	}
	.col-sm-8.blog-main  .apply-containter {
      text-align: center;
  }
	
	.blog-main .category-item > a {
		color:#ffffff;
		font-size:1.1em;
	}
	
	.category-item a span.category-text {
		font-size: 0.75em;
	}
	.category-item.health {
		background-color: #8AC007;
	}

	.category-item.it {
		background-color: #0098ff;
	}

	.category-item.mechatronics {
		background-color: #ED146F;
	}

	.category-item.building {
		background-color: #FFDC00;
	}

	.category-item.rid {
		background-color: #673695;
	}

	.category-item.automotive {
		background-color: #fd8008;
	}
	ol.search-results>li>table>tbody>tr>td.first a h4 {
		font-size:1.1em;
	}
	.sidebar-links li {
	line-height: 1.8em;
	}
	.slider-group {
	  margin-top:30px;
	}
}

@media (max-width: 480px) {
	.pagination>li>a, .pagination>li>span {
		padding: 4px 8px;
		font-size: 0.9em;
	}
	ol.search-results > li > table > tbody > tr > td.first a h4{
  font-size: 1.0em;
	}
	div.navbar-header > a.navbar-brand > img {
	  height: 20px;
	}
}

/* Masthead for nav */

.navbar-default {
	box-shadow: inset 5px -10px 5px -10px #E5E2E2;
  -moz-box-shadow: inset 5px -10px 5px -10px #E5E2E2;
  -webkit-box-shadow: inset 5px -10px 5px -10px #E5E2E2;
}

.navbar-default .navbar-nav>li>a {
	font-weight: 600;
}

nav.navbar, footer.blog-footer {
	/*font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;*/
	font-family: 'Source Sans Pro', sans-serif;
}

footer.blog-footer {
	box-shadow: inset 3px 1px 3px 1px #E5E2E2;
  -moz-box-shadow: inset 3px 1px 3px 1px #E5E2E2;
  -webkit-box-shadow: inset 3px 1px 3px 1px #E5E2E2;
}

.blog-masthead {
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */

.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}

.navbar-header {
	height:54px;
	font-size:1em;
}

a.navbar-brand {
	font-size: 1.4em;
	font-weight:500;
	line-height: 25px;
}

.navbar-brand img.logo {
	display: inline;
	height: 25px;
	vertical-align: top;
	margin-right: 6px;
}


/* Main column and sidebar layout */

.blog-main {
  /*font-size: 18px;*/
  /*line-height: 1.5;*/
}

.category-item.health :hover, .bordered-with-header.green {
background-color: #8AC007;
}

div.category-item a:hover {
	-webkit-box-shadow: 5px 5px 8px -2px rgba(186,186,186,1);
	-moz-box-shadow: 5px 5px 8px -2px rgba(186,186,186,1);
	box-shadow: 5px 5px 8px -2px rgba(186,186,186,1);
}

.category-item.it a:hover {
background-color: #0098ff;
}

.category-item.mechatronics a:hover {
background-color: #ED146F;
}

.category-item.building a:hover {
background-color: #FFDC00;
}

.category-item.rid a:hover {
background-color: #673695;
}

.category-item.automotive a:hover {
background-color: #fd8008;
}

.category-item {
position: relative;
width: 100%;
height: 160px;
background: #dddddd;
/* border-radius: 3px; */
margin-bottom: 30px;
text-align: center;
-webkit-transition: all .3s ease;
transition: all .3s ease;
}

.category-item a {
	position: relative;
	display: block;
	height: 100%;
	padding: 44px 24px 0;
	font-size:1.1em;
	background: transparent;
	text-decoration: none;
	text-transform: capitalize;
	line-height: 1em;
	color: #333;
	/*font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;*/
	font-family: 'Source Sans Pro', sans-serif;
}

.category-item a span.category-text {
	font-size:0.95em;
	font-weight: bold;
}

.category-item a:hover {
  /*color: #333333;*/
  color: #ffffff;
	text-decoration: none;
	background-color: transparent;
}

i.fa {
font: normal normal normal 14px/1 FontAwesome;
font-size: inherit;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
/*display: block;*/
padding-bottom: 6px;
font-size: 2.6em;
}

.search-home, .locations-home{
  padding-bottom: 30px;
}

.search-home .form-group input{
  height: auto;
}


.search-home .form-control {
  display: block;
  width: 100%;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
}
.form-control {
	border-radius: 0px;
}

/* slider adjustments */

.slider-container {
	margin-top:20px;
}

.slider.slider-horizontal {
	width: 100%;
}

.locations-home
{   
  -moz-column-width: 6em; /* Firefox */
  -webkit-column-width: 6em; /* webkit, Safari, Chrome */
  column-width: 6em;
	font-size: 1.4em;
}
/* remove standard list and bullet formatting from ul */
.locations-home ul
{
    padding: 0;
    list-style-type: none;  
}
/* correct webkit/chrome uneven margin on the first column*/
.locations-home ul li:first-child
{
    margin-top:0px;
}

.page-header.no-bottom-border  {
  border-bottom: none;
  margin-bottom:0px;
}

ol.search-results {
  width:100%;
}

ol.search-results > li > table {
  display:block;
  width: 100%;
} 

ol.search-results > li > table > tbody{
  display:table;
  width: 100%;
}

ol.search-results > li.even{
  background-color: #fcfcfc;
}

ol.search-results > li > table > tbody > tr > td.first{
  width:60%;
}

ol.search-results > li > table > tbody > tr > td.first a h4{
  font-size: 1.2em;
  margin-bottom: 12px;
	word-break:break-word;
}

ol.search-results > li > table > tbody > tr > td.first span.company{
  font-size: 0.9em;
}

ol.search-results > li > table > tbody > tr > td.second{
  width:20%;
  text-align:center;
  font-size:0.9em;
}

ol.search-results > li > table > tbody > tr > td.second span.glyphicon{
  font-size: 1.4em;
}

ol.search-results > li > table > tbody > tr > td.third{
  width:20%;
  vertical-align:top;
  text-align:right;
  font-size:0.9em;
  color: #6b6b6b;
}

ol.search-results > li  {
  border-bottom: 1px solid #d0d5d8;
  padding: 16px 8px; 
}

ol.search-results > li:first-child {
  border-top: 1px solid #d0d5d8;
}

ol.search-results span.more-locations-sign {
	vertical-align:top;
	font-size:0.65em;
	position:absolute;
	margin-top:-5px;
}

div.pagination-row {
  text-align:center;
}

.job-description-content h1 {
  background-color: #673695;
  /*background-color: #337ab7;*/
  display: inline;
  color: #ffffff;
  padding: 6px 5px;
  line-height: 50px;
  -webkit-box-shadow: 2px 2px 4px #949494;
  box-shadow: 2px 2px 4px #949494;
	word-break:break-word;
}

.job-description-content h2 {
  font-size: 1.8em;
  margin:12px 0 12px 0;
}

.job-description-content h3 {
  color:#ff6d1f;
  margin-top:26px;
}

.job-description-content h2.location, .job-description-content h2.start {
  font-size: 1.2em;
  margin-top:4px;
  font-weight:500;
  margin-top: 10px;
  margin-bottom: 10px;
}

.job-description-content h2 span {
  font-weight:600;
}

.blog-main a.apply {
  border-color: #f55600;
  background-color: #ff6d1f;
}

.job-description-content .apply-containter {
  text-align: right;
  margin:4px 0 30px 0;
}

.blog-main a.apply:hover{
background-color: #FD7C36;
}

.job-description-content .top-date {
  margin-bottom: 14px;
}

/* Sidebar */

/* Sidebar modules for boxing content */

.sidebar-module {
  padding: 15px;
  /*margin: 0 -15px 15px;*/
}
.sidebar-module-inset {
  color: #ffffff;
  padding: 15px;
  background-color: #0098ff;
  border-radius: 2px;
  font-family: Arial,Helvetica,sans-serif;
	-webkit-box-shadow: 5px 5px 8px -2px rgba(186,186,186,1);
	-moz-box-shadow: 5px 5px 8px -2px rgba(186,186,186,1);
	box-shadow: 5px 5px 8px -2px rgba(186,186,186,1);
}

.sidebar-module-inset a.info-link{
	font-size:1em;
	color:#ffffff;
}

.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

.bordered-with-header a.top{
  width: 100%;
  height: 45px;
  display: block;
  color: #fff;
  text-align: center;
  line-height: 42px;
  text-decoration:none;
	padding:10px 0;
}
.bordered-with-header {
  color: #333;
  font-family: Arial,Helvetica,sans-serif;
  text-align: left;
  line-height: 130%;
  padding: 0;
  margin: 12px 0;
  overflow: hidden;
  clear: both;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 0 0;
  border-width: 5px;
  border-style: solid;
  border-color: transparent;
	-webkit-box-shadow: 5px 5px 8px -2px rgba(186,186,186,1);
	-moz-box-shadow: 5px 5px 8px -2px rgba(186,186,186,1);
	box-shadow: 5px 5px 8px -2px rgba(186,186,186,1);
}

.bordered-with-header.blue {
  /*background-color: #07c;
  border-color: #07c;*/
  background-color: #0098ff;
  border-color: #0098ff;
}

.bordered-with-header.orange {
  background-color: #f90;
  border-color: #f90;
}

.bordered-with-header ul.latest-jobs{
  margin: 0;
  padding: 14px 24px;
  list-style: none;
  display: block;
  background-color: #fff;
}

ul.latest-jobs li {
  margin-bottom: 15px;
	word-break: break-word;
	font-size:0.9em;
}

.blog-sidebar a {
	font-weight:600;
}

.bordered-with-header ul.latest-jobs li span.location{
  color: #666;
  font-weight: bold;
}

.bordered-with-header ul.latest-jobs li span.company, .bordered-with-header ul.latest-jobs li a span.date {
  color: #666;
}

.blog-sidebar h4 , .blog-sidebar .h4{
	text-transform: uppercase;
	margin-top:0px;
	font-weight: 400;
	text-shadow: 1px 1px 1px rgba(182, 181, 181, 1);
}


/* Pagination */

.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/* Footer */

.blog-footer {
	padding: 20px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
	line-height: 2.3em;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

footer.blog-footer span.made-by {
	background-color: #E2EFF7;
  color: #A59E9E;
  font-weight: 600;
  padding: 4px;
}

footer.blog-footer span.to-top {
	background-color: #8ac007;
  color: #ffffff;
  font-weight: 600;
  padding: 5px;
	border-radius: 6px;
	margin-top:20px;
	-webkit-box-shadow: 1px 1px 3px -2px rgba(186,186,186,1);
  -moz-box-shadow: 1px 1px 3px -2px rgba(186,186,186,1);
  box-shadow: 1px 1px 3px -2px rgba(186,186,186,1);
}


@media (min-width: 768px) {
  .search-home form.form-inline div[class*='col-sm-'] {
    padding-right: 0px;
  }
  .blog-sidebar {
    margin-top: 40px;
  }
}

@media (min-width: 992px) {
  .job-description-content h2.start {
  text-align:right;
 }
}

/* share box */

div.share-box {
	background-color:#F5F5F5;
	padding:20px 30px;
	-moz-border-radius: 4px;
  border-radius: 4px;
	border: 2px solid #F0EAF0;
}

div.share-box-home {
	background-color:#F5F5F5;
	padding:20px 30px;
	margin: 20px 0px;
	-moz-border-radius: 4px;
  border-radius: 4px;
	border: 2px solid #F0EAF0;
}

div.share-box-home h4 {
	margin-bottom:14px;
}

div.share-box-home h4, div.share-box h4 {
	font-weight: 600;
}

/* alert fix */

form .alert {
	margin-bottom:0px;
	padding: 4px 30px 4px 16px;
}

/* typeahead */

.twitter-typeahead {
	width: 100%;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}
.tt-dropdown-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
  width:100%;        
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
	cursor: pointer;
}

.tt-suggestion.tt-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}
	
/* social icons */	

.a2a_kit a {
  padding: 2px !important;
}