{% set dataSliderValue = ((app.request.get('timeLimitVal') is not null) ? app.request.get('timeLimitVal'): 45) %}

{# set dataSliderValue = 45 #}
		  <form class="form-inline" action="{{ path('GetJobInGermanyBundle_search', {'category':category}) }}" method="get" {{ form_enctype(form) }}>
		    	<div class="row big-labels">
				  <div class="col-sm-6">
					<h4>Keyword (in German)</h4>
				  </div>
				  <div class="col-sm-4">
					<h4>Location</h4>
				  </div>
				</div>
				<div class="row">
					<div class="form-group col-md-6 col-sm-5">
					{{ form_row(form.keyword, {'attr': {'class': 'form-control', 'placeholder': 'What?', 'autocomplete': 'off' ,  'data-provide':'typeahead'}}) }}
					</div>
					<div class="form-group col-sm-4">
          {{ form_row(form.location, {'attr': {'class': 'form-control', 'placeholder': 'Where?', 'autocomplete': 'off' ,  'data-provide':'typeahead'}}) }}
					</div>
			    <div class="form-group col-sm-2">
			    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>&nbsp;Search</button>
			    </div>
				</div>
				<div class="row slider-container">
				  <div class="form-group col-sm-6">
						<p>{{ form_row(form.useTimeLimit, {'attr': {'autocomplete': 'off' }}) }}&nbsp;Published during previous <span id="timeLimitValText" class="slider-number">{{ dataSliderValue }}</span>&nbsp;days</p>
				  </div>
					<div class="form-group col-sm-6 slider-group">
						{{ form_row(form.timeLimitVal, {'attr': {'autocomplete': 'off' , 'data-slider-id':'timeSlideSlider', 'data-slider-min':'1', 'data-slider-max':'90', 'data-slider-step':'1', 'data-slider-value':dataSliderValue, 'data-slider-enabled':app.request.get('useTimeLimit')}}) }}
					 </div>
				</div>
				{{ form_rest(form) }}
		  </form>